body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
      
h1{
    font-size: 50px;
    margin: 10px 0px 20px 0px;
    
}
.orange-highlight{
    color: darkorange;

}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;


}
.half-width img{
    width: 100%;
}
section.top-banner{ 
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}

section{
    padding-bottom: 150px;
    margin:30px 0px;
    height:500px;
}
.link-button{
    text-decoration: none;
    font-size: 15px;
    background-image: linear-gradient( 45deg, lightSalmon,tomato);
    padding:10px 20px;
    color: floralwhite;
    border-radius: 5px;
    font-weight: 700  ;c;
}

section.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}

.single-ex{
    box-shadow: 10px 10px 40px dimgray;
    border-radius: 5px;
    height: 80%;
}

section.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}

#fullstack{
    border-left: 7px solid;
  border-image: linear-gradient( lightSalmon,tomato);
  border-image-slice: 1;
}
#software{
    border-left: 7px solid;
    border-image: linear-gradient( blue,tomato);
  border-image-slice: 1;

}
footer{
    text-align: center;
    font-size: 18px;
    color :yellow ;
    font-weight: bold;
}